.menu {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

}


@media screen and (min-width: 768px) {
    .menu {
        flex-direction: row;
    }
}

.yt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.principal {
    padding-top: 20px;
    margin-top: 30px;

}

.full-width-image {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

}

.titulo {
    max-width: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

}

.historia {
    font-style: italic;
    font-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

ul {
    overflow: hidden;
    list-style: none;
    display: flex;
}



ul li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: solid;
}



body {
    background-color: #bcb8b1;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(ciri.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galerias {

    font-style: italic;
    font-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;

}

footer {
    background-color: #333;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    display: flex;


}

.footer-links a {
    color: white;
}

.footer-section {
    margin: 10px;
    padding: 10px;
}

.boton.uno::after {
    content: "";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.uno:hover::after {
    top: 0;
}

.contenedor-botones {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #141414;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
