@mixin sizes($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

footer {
    background-color: #333;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    display: flex;


}

.footer-links a {
    color: map-get($colores, color-primario);
}

.footer-section {
    @include sizes(10px, 10px)
}